img {
    width: 40%;
}

.header {
    height: 740px;
}

.overlay {
    height: 100%;
    background-color: #1c375bd3;
}

.container-fluid {
    padding-left: 5%;
}

li {
    text-align: center;
}

a {
    width: 110px;
    color: #f5f5f5;
    font-size: medium;
    letter-spacing: 2px;
    text-align: center;
}

button {
    color: #f5f5f5;

}

.ul2 {
    padding-left: 20%;
}

.ul3 {
    padding-left: 20%;

}

.btnstart {
    width: 100px;
    background: #6F8197;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.nav-item:hover {
    background: #6F8197;
    color: #f5f5f5;
}

hr {
    color: #a0a0a0;
    height: 5px;
    width: 76%;
    margin-left: 14%;
}

h2 {
    color: #f5f5f5;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: xx-large;


}

.content {
    position: absolute;
    top: 54%;
    left: 15%;
    width: 35%;
    line-height: 1.8em
}


.content {
    display: block;
    animation-name: moveInleft;
    animation-duration: 3s;
}

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-800px);
        -webkit-transform: translateX(-800px);
        -moz-transform: translateX(-800px);
        -ms-transform: translateX(-800px);
        -o-transform: translateX(-800px);
    }

    80% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        -ms-transform: translate(0px);
        -o-transform: translate(0px);
    }
}

.btn-content {
    color: #f5f5f5;
    background: #03abf4;
    border-radius: 2px;
}

.btn-content:hover {
    color: #f5f5f5;
    background: #657d9c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px #03abf4 solid;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 0px;
}

.create:hover {
    color: #f5f5f5;
    background: #657d9c;

}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .content {
        position: absolute;
        top: 32%;
        left: 15%;
        width: 80%;
        line-height: 1.8em
    }

    .header {
        height: 550px;
    }

    .ul2 {
        padding-left: 0px;
    }
}

.section2 {
    margin-top: 6%;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #6c84a2, #6F8197);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #1C375B, #a0a9b5);
}

.bg-c-pink {
    background: linear-gradient(45deg, #d2544a, #ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.dot {
    height:60px;
    width:60px;
    background-color: #d5eefa;
    border-radius: 50%;
    display: inline-block;
}

.video {
    background-color: #fcfcfc;
}

.fa-play{
    color: #03abf4;
}
.best{
    color: #03abf4;
    letter-spacing: 2px;
}